@media screen and (max-width: 2500px) and (min-width: 2400px) {
  html {
    font-size: 115%;
  }
}
@media screen and (max-width: 2400px) and (min-width: 2300px) {
  html {
    font-size: 110%;
  }
}
@media screen and (max-width: 2300px) and (min-width: 2200px) {
  html {
    font-size: 105%;
  }
}
@media screen and (max-width: 2200px) and (min-width: 2100px) {
  html {
    font-size: 100%;
  }
}
@media screen and (max-width: 2100px) and (min-width: 2000px) {
  html {
    font-size: 95%;
  }
}
@media screen and (max-width: 2000px) and (min-width: 1900px) {
  html {
    font-size: 90%;
  }
}
@media screen and (max-width: 1900px) and (min-width: 1800px) {
  html {
    font-size: 85%;
  }
}
@media screen and (max-width: 1800px) and (min-width: 1700px) {
  html {
    font-size: 80%;
  }
}
@media screen and (max-width: 1700px) and (min-width: 1600px) {
  html {
    font-size: 75%;
  }
}
@media screen and (max-width: 1600px) and (min-width: 1500px) {
  html {
    font-size: 70%;
  }
}
@media screen and (max-width: 1500px) and (min-width: 1400px) {
  html {
    font-size: 65%;
  }
}
@media screen and (max-width: 1400px) and (min-width: 1300px) {
  html {
    font-size: 62.5%;
  }
}
@media screen and (max-width: 1300px) and (min-width: 1200px) {
  html {
    font-size: 62.5%;
  }
}
@media screen and (max-width: 1200px) and (min-width: 1100px) {
  html {
    font-size: 60%;
  }
}
@media screen and (max-width: 1100px) and (min-width: 1000px) {
  html {
    font-size: 60%;
  }
}
@media screen and (max-width: 1000px) and (min-width: 900px) {
  html {
    font-size: 60%;
  }
}
@media screen and (max-width: 900px) and (min-width: 800px) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 800px) and (min-width: 700px) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 700px) and (min-width: 600px) {
  html {
    font-size: 40%;
  }
}
@media screen and (max-width: 600px) and (min-width: 500px) {
  html {
    font-size: 30%;
  }
}
@media screen and (max-width: 500px) and (min-width: 400px) {
  html {
    font-size:40%;
  }
}
@media screen and (max-width: 400px) and (min-width: 300px) {
  html {
    font-size: 10%;
  }
}
@media screen and (max-width: 300px) and (min-width: 200px) {
  html {
    font-size: 5%;
  }
}
