@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
* {
  margin: 0;
  box-sizing: inherit;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  background-color: black;
  box-sizing: border-box;
}
@keyframes intro {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(135deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateText {
  0% {
    opacity: 0;
    transform: rotate(-180deg);
  }
  60% {
    transform: scale(2);
  }
  100% {
    opacity: 1;
    transform: rotate(0);
  }
}
.header {
  background-image: url("./img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
}
.load {
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  font-size: 5rem;
  font-family: "Lato", sans-serif;
  background-color: Black;
  z-index: 99;
  opacity: 1;
}
#lico {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 7rem;
  height: 7rem;
  margin: 3.5rem 3.5rem;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
/*Menu Bar Finished*/
.menu {
  width: 100%;
  height: 10rem;
  padding: 0 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: fixed;
}
/*Left Menu Finished*/
.leftmenu {
  margin-right: auto;
  animation: intro 2s;
}
.leftmenu a {
  font-weight: bold;
  color: white;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  text-shadow: 0 0.1rem 0 #ccc, 0 0.2rem 0 #c9c9c9, 0 0.3rem 0 #bbb,
    0 0.4rem 0 #b9b9b9, 0 0.5rem 0 #aaa, 0 0.6rem 0.1rem rgba(0, 0, 0, 0.1),
    0 0 0.5rem rgba(0, 0, 0, 0.1), 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3),
    0 0.3rem 0.5rem rgba(0, 0, 0, 0.2), 0 0.5rem 1rem rgba(0, 0, 0, 0.25),
    0 1rem 1rem rgba(0, 0, 0, 0.2), 0 2rem 2rem rgba(0, 0, 0, 0.15);
}
/*Right Menu Finished*/
.rightmenu {
  margin-left: auto;
  font-family: "Lato", sans-serif;
}
/*Exit Button Finished*/
#exit {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: white;
  margin-left: 2rem;
  padding: 1rem;
  border: 0.3rem solid #fff;
  border-radius: 0.5rem;
  transition: all 0.5s;
  background-color: transparent;
  cursor: pointer;
}
#exit:hover {
  border-color: red;
  background-color: red;
}
/*Heading-text-finished*/
.text {
  width: 100%;
  text-align: center;
  color: white;
  opacity: 250;
  animation-name: intro;
  animation-duration: 2s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backface-visibility: hidden;
}
.text--1 {
  display: block;
  font-size: 1.7rem;
  font-family: "Lato", sans-serif;
}
.text--2 {
  font-family: "Lato", sans-serif;
  font-size: 9rem;
  font-weight: 700;
  letter-spacing: 0rem;
  text-shadow: 0 0.1rem 0 #ccc, 0 0.2rem 0 #c9c9c9, 0 0.3rem 0 #bbb,
    0 0.4rem 0 #b9b9b9, 0 0.5rem 0 #aaa, 0 0.6rem 0.1rem rgba(0, 0, 0, 0.1),
    0 0 0.5rem rgba(0, 0, 0, 0.1), 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3),
    0 0.3rem 0.5rem rgba(0, 0, 0, 0.2), 0 0.5rem 1rem rgba(0, 0, 0, 0.25),
    0 1rem 1rem rgba(0, 0, 0, 0.2), 0 2rem 2rem rgba(0, 0, 0, 0.15);
  display: block;
  margin: 1.4rem 0rem;
  line-height: 10.8rem;
  animation: rotateText 1.5s 0.5s;
}
.text--3 {
  display: block;
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
}
